// Primary palette
$pangulColorPrimaryBorder: #617591;

// Backgrounds
$pangulColorBackgroundDefault: #ffffff;
$pangulColorBackgroundSecondary: #efefef;
$pangulColorBackgroundThird: #edfaff;

// Q&A
$pangulColorBackgroundQuestion: #f0f4ff;
$pangulColorBackgroundAnswer: #f4f9ff;

// Buttons
$pangulButtonColor: #edfaff;

// Text styles
$pangulColorShadow: #efefef;