.component--Answer {
  > div {
    > h1 {
      margin: 0px;
    }
  }
  .edit {
    display: flex;
    flex-direction: column;
    height: 100%;
    > input {
      width: 100%;
      height: 2em;
      line-height: 2em;
      font-size: 1.5em;
      margin-bottom: 2px;
      padding: 0.2em;
    }
    .mde {
      flex-grow: 1;
      display: flex;
    }
    .react-mde {
      width: 100%;
    }
  }
}
