.component--StatusReport {
  padding: 2px;
  margin: 2px;
  color: #3f3f3f;
  .header {
    color: blue;
    font-weight: bold;
    border: 5px solid #000066;
  }
  .loading {
    text-align: center;
    padding: 1em;
  }
}