.component--TopicView {
    padding: 0.4em;
}

.component--TopicView > div {
    display: inline-block;
}

.component--TopicView .icon {
    width: 3em;
    height: 3em;
    margin-right: 0.8em;
}

.component--TopicView .icon img {
    width: 100%;
    height: 100%;
}
