$icon-color-default: #a7a0a8;
$icon-color-active: #6d6d6d;
$icon-color-disabled: #cbcbcb;
$icon-color-active-disabled: #888aa2;
$votes-color-default: #6d6d6d;
$icon-size: 10;
$icon-scale-width: 1.25;
$icon-scale-height: 2;
$icon-star-scale: 0.17;

@mixin active-styles() {
  &.active {
    color: $icon-color-active;
    &.disabled {
      color: $icon-color-active-disabled;
    }
  }
  &.disabled {
    color: $icon-color-disabled;
    cursor: auto;
  }
}

.component--VotesAndStarsReadonly {
  display: inline-block;
  width: 50px;
  margin-top: 5px;
  margin-right: 20px;
  overflow: hidden;
  vertical-align: top;

  text-align: center;
  li {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    text-align: center;
    > div {
      display: inline-block;
      width: auto;
      height: auto;
    }

    .votes {
      color: $votes-color-default;
      font-size: 1.4em;
      text-align: center;
      width: 100%;
    }

    /* Magic CSS shapes */
    .up {
      color: $icon-color-default;
      margin-bottom: 10px;
      margin-left: 1px;
      width: 0;
      height: 0;
      border-left: #{$icon-size * $icon-scale-width}px solid transparent;
      border-right: #{$icon-size * $icon-scale-width}px solid transparent;
      border-bottom: #{$icon-size * $icon-scale-height}px solid;
      @include active-styles();
    }

    .down {
      color: $icon-color-default;
      margin-top: 10px;
      margin-left: 1px;
      width: 0;
      height: 0;
      border-left: #{$icon-size * $icon-scale-width}px solid transparent;
      border-right: #{$icon-size * $icon-scale-width}px solid transparent;
      border-top: #{$icon-size * $icon-scale-height}px solid;
      @include active-styles();
    }

    &.star-container {
      margin-top: 1em;
      margin-left: 1px;
    }

    .star {
      color: $icon-color-default;
      margin: #{$icon-star-scale * 50}px 0;
      position: relative;
      display: inline-block;
      width: 0;
      height: 0;
      border-right: #{$icon-star-scale * 100}px solid transparent;
      border-bottom: #{$icon-star-scale * 70}px solid;
      border-left: #{$icon-star-scale * 100}px solid transparent;
      @include active-styles();
      transform: rotate(35deg);
      &:before {
        border-bottom: #{$icon-star-scale * 80}px solid;
        border-left: #{$icon-star-scale * 30}px solid transparent;
        border-right: #{$icon-star-scale * 30}px solid transparent;
        position: absolute;
        height: 0;
        width: 0;
        top: #{$icon-star-scale * -45}px;
        left: #{$icon-star-scale * -65}px;
        display: block;
        content: '';
        transform: rotate(-35deg);
      }
      &:after {
        position: absolute;
        display: block;
        top: #{$icon-star-scale * 3}px;
        left: #{$icon-star-scale * -105}px;
        width: 0;
        height: 0;
        border-right: #{$icon-star-scale * 100}px solid transparent;
        border-bottom: #{$icon-star-scale * 70}px solid;
        border-left: #{$icon-star-scale * 100}px solid transparent;
        transform: rotate(-70deg);
        content: '';
      }
    }
  }
}