@import "../../../styles/colors";

.component--LoadingBar {
  padding: 0.5em;
  margin: 1em 0;
  border: solid 1px $pangulColorPrimaryBorder;
  background: $pangulColorBackgroundDefault;
  text-align: center;
  span {
    display: inline-block;
    margin: 0 1em;
  }
};