.component--TopicInfo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
}

.component--TopicInfo > div {
    display: inline-block;
}

.component--TopicInfo .icon {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}

.component--TopicInfo .icon img {
    width: 100%;
    height: 100%;
}

.component--TopicInfo .header {
    font-weight: bold;
    text-align: left;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.component--TopicInfo .desc {
    text-align: left;
    font-size: 0.8em;
}