.component--QuerySetPaginator {
    height: 2em;
    line-height: 2em;
}

.component--QuerySetPaginator .parts {
    display: table;
    border-collapse: collapse;
    width: calc(100% - 0.3em);
    margin-left: 0;
    margin-right: 0;
}

.component--QuerySetPaginator .part {
    display: table-cell;
    vertical-align: center;
    padding: 0;
    margin: 0;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
}

.component--QuerySetPaginator .buttons {
    text-align: right;
}

.component--QuerySetPaginator select {
    margin-left: 0.4em;
}

.component--QuerySetPaginator .buttons button {
    margin-right: 0.3em;
}