@import '../../../styles/colors';

.component--QuestionSearch {
  .result {
    > div {
      margin-top: 0.3em;
      padding: 0.2em;
      border: 2px solid $pangulColorBackgroundDefault;
    }
    .votes, .link {
      margin-top: 0.2em;
    }
    .votes {
      display: inline-block;
      text-align: center;
      width: 2em;
    }
    .link {
      display: inline-block;
      font-size: 1.1em;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .tags {
      text-align: right;
    }
  }
}