$profileHeight: 3em;

.component--UserProfile {
  display: inline-block;
  border: thin solid #efefef;
  box-sizing: border-box;
  padding: 0.3em;
  border-radius: 3px;
  background: #efefef;
  .component--UserIcon {
    vertical-align: top;
  }
  .user{
    display: inline-block;
    line-height: $profileHeight / 3;
    margin: 0.3em 0.5em 0 0.5em;
    font-weight: bold;
    .rep {
      font-weight: normal;
      font-size: 0.8em;
    }
  }
}