.component--QuestionView {
    padding: 0.4em;
}

.component--QuestionView .metadata {
    display: inline-block;
    vertical-align: top;
    width: 4em;
}

.component--QuestionView .output {
    display: inline-block;
    vertical-align: top;
    margin-right: 2.5em;
    max-width: calc(100% - 6.5em); /* 4 from left, 2 from right for edit button */
}

.component--QuestionView h2 {
    margin: 0 0 0.2em 0;
}