.component--QuestionView {
    padding: 0.4em;
}

.component--QuestionView .metadata {
    display: inline-block;
    vertical-align: top;
}

.component--QuestionView .output {
    display: inline-block;
    vertical-align: top;
}

.component--QuestionView h2 {
    margin: 0 0 0.2em 0;
}