@import "../styles/_textInput";

.component--LiveSearch {
  input {
    @include commonTextInput;
  }

  /** Loading */
  > div {
    position: relative;
    .loading {
      text-align: right;
      width: 100%;
      position: absolute;
      top: 0.5em;
      padding-right: 6px;
      overflow: hidden;
      button {
        background: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
        display: inline-block;
      }
      > div {
        margin-right: 0.3em;
      }
    }
  }

  /** Results */
  .results {
    .result {
      border: thin solid #efefef;
      margin: 1px;
      display: block;
    }
  }

  /** Errors */
  .error {
    border: thin solid #961e1e;
    border-radius: 2px;
    margin: 1em 0em;
    background: #f5d5da;
    color: #961e1e;
    padding: 1em;
  }
}