@import "../colors";

.pageLayout {
  /* Root */
  font-size: 4mm;
  padding: 0.5em;

  /* Headers */
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px $pangulColorShadow;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.4em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1em;
  }

  p {
    margin: 0.2em 0;
  }
  
  .pageBlock {
    margin: 0.1em 0em;
    border: thin solid $pangulColorBackgroundSecondary;
    border-radius: 2px;
    padding: 0.2em 0.5em;
  }
}

/* Admin area */
.adminBlock {
  margin: 0.5em 0 !important;
  h4 {
    background: $pangulColorBackgroundThird;
    padding: 0.2em;
    margin: 0.3em 0em;
    border-radius: 4px;
  }
  pre {
    background: $pangulColorBackgroundDefault;
    padding: 0.5em;
    margin: 0;
  }
}

/* Other related parts */
@import 'buttons';