.component--AnswerView {
    padding: 0.4em;
}

.component--AnswerView h2 {
    margin: 0 0 0.2em 0;
}

.component--AnswerView .output {
    display: inline-block;
    vertical-align: top;
    margin-right: 3em;
}

.component--AnswerView .metadata {
    display: inline-block;
    vertical-align: top;
    width: 4em;
}
