.component--QuestionSummaryView {
    padding: 0.4em;
}

.component--QuestionSummaryView .metadata {
    vertical-align: top;
    display: inline-block;
}

.component--QuestionSummaryView .output {
    vertical-align: top;
    display: inline-block;
}

.component--QuestionSummaryView h2 {
    margin: 0 0 0.2em 0;
}