.component--TagList {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.component--TagList .tag {
    display: inline-block;
    color: #346655;
    cursor: pointer;
    margin-right: 0.3em;
    background: #d4e6f5;
    padding: 0.2rem 0.3rem;
    border-radius: 2px;
}