.component--QuestionResource {
  width: 100%;
  .component--Votes {
    .content {
      width: calc(100% - 70px);
    }
  }
  .component--ErrorMessage {
    margin-bottom: 1em;
  }
  .unsaved {
    float: right;
    color: #961e1e;
    margin-bottom: 0.2em;
    margin-right: 0.1em;
    font-variant: all-small-caps;
  }
  .buttonBar {
    text-align: right;
    button {
      margin-right: 0.5em;
      :nth-child(0) {
        margin-right: 0;
      }
    }
  }
}
